/* =========================
   COLORS
========================= */
$brand_colour: #111111;
$base_colour: #4B5563;
$accent_colour: #E30613;


/* =========================
   TYPOGRAPHY
========================= */

$font-primary: var(--font-body), sans-serif;
$font-heading: var(--font-heading), sans-serif;


// Breakpoints (min)
$sm-min: 640px;
$md-min: 768px;
$lg-min: 1024px;
$xl-min: 1280px;
$xxl-min: 1536px;

// Breakpoints (max)
$sm-max: 639px;
$md-max: 767px;
$lg-max: 1023px;
$xl-max: 1279px;
$xxl-max: 1535px;