/* =========================
   COLORS
========================= */
$brand_colour: #111111;
$base_colour: #4B5563;
$accent_colour: #E30613;


/* =========================
   TYPOGRAPHY
========================= */

$font-primary: var(--font-body), sans-serif;
$font-heading: var(--font-heading), sans-serif;