@use "../base/template_variables" as *;

.single_service {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  
}
.services_image_wrapper {
  margin-top: auto;
  height: 100%;
  background-color: red;
}
.content_wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}
.button_wrapper_top {
  display: none;
}
@media screen and (min-width: $md-min) {
  .button_wrapper {
    display: none;
  }
  .button_wrapper_top {
    display: block;
  }
  .subheading_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

#services_page {
  .single_service {
    .services_image_wrapper {
      height: 200px;
      margin-top: 0;
    }
    .content_wrapper {
      display: flex;
      flex-direction: column;
        justify-content: normal;
      .subheading_wrapper {
        @media screen and (min-width: $md-min) {
             min-height: 90px; /* adjust based on your tallest expected heading */
                     align-items: flex-start;
        }
       
      
      }
    }
  }
}
#service_page_cta{
.btn-custom{
    width: fit-content;
}
}
